
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Wallpoet', cursive;
    flex-direction: column;
    background: #333;
}

h1 {
    color: rgb(220, 220, 220);
}

.clock{
    box-shadow: 8px 8px 8px rgba(255, 201, 53, 0.624),
    0 0 30px rgb(40, 39, 39) inset;
    background: rgb(121, 45, 242);
    width: 400px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(85, 72, 238);
    border-radius: 30px;
    font-size: 55px;
    margin: 10px;
    padding: 20px;
}

.clock .container {
    display: flex;
}